.container{
  display: grid;
  color: #fff;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background-color: #AA55C3;
}

.score{
  font-size: 35px;
}

.score-text{
  margin-bottom: 15px;
}

