.square{
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #44425E;
  color: #C4C4C4;
  font-size: 105px;
  text-decoration: none;
  font-family: sans-serif;
}

